.credit {
    background-color: rgb(235, 242, 186);
    border: 4px solid rgb(72, 113, 124);
    font-size: 16px;
    text-align: center;
}

.description {
    font-weight: 600x;
}

.header {
    padding: 16px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.title {
    border: 8px solid rgb(72, 113, 124);
    border-bottom: 0px;
    font-size: 32px;
    margin-left: auto;
    padding: 16px;
    text-align: center;
}

body {
    background-color: rgb(242, 250, 255);
    color: rgb(41, 59, 71);
    font-family: 'Franklin Gothic Medium', 'Optima', 'Copperplate', fantasy;
}

img {
    border: 8px solid rgb(72, 113, 124);
    display: block;
    margin: auto;
}